@import url("../fonts/fonts.css");
@import url("./style.css");

:root {
    --pri-text: #1d2130;
    --sec-text: #525560;
    --black-06: #0b0706;
    --gree-pri: #70c174;
    --o-border: #e5e5e5;
    --bg-grass: #f2f6ef;
    --gree-sec: #bef3c0;
    --gree-try: #eff7f2;
    --of-white: #ebf0f9;
    --bg-white: #fff;
    --bg-23253: #232536;
    --bg-opcty: #ebf0f94d;
}

#hero {
    background-color: var(--bg-white);
}

.hero--wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 96px;
    padding: 163px 0 320px;
    gap: 32px;
    width: calc(100% - 96px);
}

.hero--main {
    display: flex;
    align-items: flex-start;
    bottom: 64px;
    color: var(--pri-text);
}

.hero--title {
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
}

.hero--main__texts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 496px;
}

.hero--main--title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.hero--main__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
}

.hero--video {
    position: absolute;
    bottom: -224px;
    left: -96px;
}

.hero--video img {
    position: relative;
    width: 100%;
}

.hero--vode {
    position: absolute;
    top: 50%;
    left: 50%;
    fill: var(--bg-white);
}

.hero--vode path:nth-child(2) {
    fill: var(--pri-text);
}
