@import url("../fonts/fonts.css");
@import url("./style.css");

:root {
    --pri-text: #1d2130;
    --sec-text: #525560;
    --black-06: #0b0706;
    --gree-pri: #70c174;
    --o-border: #e5e5e5;
    --bg-grass: #f2f6ef;
    --gree-sec: #bef3c0;
    --gree-try: #eff7f2;
    --of-white: #ebf0f9;
    --bg-white: #fff;
    --bg-23253: #232536;
    --bg-opcty: #ebf0f94d;
}

#hero {
    margin-top: 50px;
    background: url("../images/Home/hero--bg.png") no-repeat;
    background-size: cover;
}

.hero--wrapper {
    display: flex;
    flex-direction: column;
    gap: 190px;
    padding: 128px 0;
}

.hero--main {
    max-width: 640px;
}

.hero--main__title {
    margin-bottom: 48px;
    color: var(--bg-white);
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
}

.hero--buttons {
    display: flex;
}

.hero--main__link {
    display: flex;
    align-items: center;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: transparent;
    color: var(--bg-white);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    transition: 0.8s;
}

.hero--main__link:hover {
    background-color: var(--bg-white);
    color: var(--pri-text);
}

.hero--play__video {
    gap: 8px;
}

.hero--play__video svg path {
    transition: all 0.5s;
}

.hero--play__video g path {
    fill: var(--bg-white);
}

.hero--play__video svg path:nth-child(2) {
    fill: var(--pri-text);
}

.hero--play__video:hover g path {
    fill: var(--pri-text);
}

.hero--play__video:hover svg path:nth-child(2) {
    fill: var(--bg-white);
}

.hero--lines {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.hero--lines__text {
    color: var(--bg-white);
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
}

.hero--line {
    display: inline-block;
    width: calc(100% - 420px);
    border: 1px solid var(--o-border);
    backdrop-filter: blur(30px);
}

/* About  */

#about {
    background-color: var(--bg-white);
    padding: 96px 0 64px;
}

.about--wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.about--top {
    display: flex;
    gap: 96px;
    align-items: center;
}


.about--top__main {
    position: relative;
    width: 608px;
    margin-left: 97px;
}

.about--top__main::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -96px;
    display: inline-block;
    width: 72px;
    height: 0;
    border: 2px solid var(--pri-text);

}

.about--small__title {
    color: var(--pri-text);
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: 2px;
}

.about--big__title {
    margin: 32px 0;
    color: var(--pri-text);
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;
}

.about--text {
    color: var(--sec-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    margin-bottom: 48px;
}

.about--link {
    display: inline-block;
    border-radius: 4px;
    padding: 16px 32px;
    background-color: var(--gree-pri);
    backdrop-filter: blur(80px);
    color: var(--bg-white);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
}

.about--videos {
    position: relative;
}

.about--videos svg {
    position: absolute;
    top: 50%;
    left: 50%;
}

.about--videos svg path {
    transition: all 0.5s;
}

.about--videos g path {
    fill: var(--bg-white);
}

.about--videos svg path:nth-child(2) {
    fill: var(--pri-text);
}

.about--videos:hover g path {
    fill: var(--pri-text);
}

.about--videos:hover svg path:nth-child(2) {
    fill: var(--bg-white);
}

.about--bottom {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.about--supporters {
    display: flex;
    gap: 24px;
    align-items: center;
    width: 100%;
}

.about--sup__text {
    color: var(--pri-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    letter-spacing: 2px;
}

.about--sup__line {
    display: inline-block;
    width: calc(100% - 186px );
    border: 1px solid var(--o-border) ;
}

.about--logoipsums {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(100% - (197.6px * 6));
}

.about--logoipsums svg {
    fill: var(--pri-text);
}