@import url("../fonts/fonts.css");
@import url("./style.css");

:root {
    --pri-text: #1d2130;
    --sec-text: #525560;
    --black-06: #0b0706;
    --gree-pri: #70c174;
    --o-border: #e5e5e5;
    --bg-grass: #f2f6ef;
    --gree-sec: #bef3c0;
    --gree-try: #eff7f2;
    --of-white: #ebf0f9;
    --bg-white: #fff;
    --bg-23253: #232536;
    --bg-opcty: #ebf0f94d;
}

#hero {
    padding: 0;
    margin-top: 50px;
    background: url("../images/Home/hero--bg.png") no-repeat;
    background-size: cover;
}

.hero--wrapper {
    display: flex;
    flex-direction: column;
    gap: 190px;
    padding: 128px 0;
    color: var(--bg-white);
}

.hero--main {
    max-width: 640px;
}

.hero--main__title {
    margin-bottom: 48px;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
}

.hero--buttons {
    display: flex;
}

.hero--main__link {
    display: flex;
    align-items: center;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: transparent;
    color: var(--bg-white);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    transition: 0.8s;
}

.hero--main__link:hover {
    background-color: var(--bg-white);
    color: var(--pri-text);
}

.hero--play__video {
    gap: 8px;
}

.hero--play__video svg path {
    transition: all 0.5s;
}

.hero--play__video g path {
    fill: var(--bg-white);
}

.hero--play__video svg path:nth-child(2) {
    fill: var(--pri-text);
}

.hero--play__video:hover g path {
    fill: var(--pri-text);
}

.hero--play__video:hover svg path:nth-child(2) {
    fill: var(--bg-white);
}

.hero--lines {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.hero--lines__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
}

.hero--line {
    display: inline-block;
    width: calc(100% - 420px);
    border: 1px solid var(--o-border);
    backdrop-filter: blur(30px);
}


/* About  */


#about {
    background-color: var(--bg-white);
    padding: 96px 0 64px;
}

.about--wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.about--top {
    display: flex;
    gap: 96px;
    align-items: center;
}


.about--top__main {
    width: 608px;
    margin-left: 97px;
}

.about--small__title {
    position: relative;
    color: var(--pri-text);
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: 2px;
}

.about--small__title::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -96px;
    display: inline-block;
    width: 72px;
    height: 0;
    border: 2px solid var(--pri-text);

}

.about--big__title {
    margin: 32px 0;
    color: var(--pri-text);
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;
}

.about--text {
    color: var(--sec-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    margin-bottom: 48px;
}

.about--link {
    display: inline-block;
    border-radius: 4px;
    padding: 16px 32px;
    background-color: var(--gree-pri);
    backdrop-filter: blur(80px);
    color: var(--bg-white);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
}

.about--videos {
    position: relative;
}

.about--videos svg {
    position: absolute;
    top: 45%;
    left: 45%;
}

.about--videos svg path {
    transition: all 0.5s;
}

.about--videos g path {
    fill: var(--bg-white);
}

.about--videos svg path:nth-child(2) {
    fill: var(--pri-text);
}

.about--videos:hover g path {
    fill: var(--pri-text);
}

.about--videos:hover svg path:nth-child(2) {
    fill: var(--bg-white);
}

.about--bottom {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.about--supporters {
    display: flex;
    gap: 24px;
    align-items: center;
    width: 100%;
}

.about--sup__text {
    color: var(--pri-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    letter-spacing: 2px;
}

.about--sup__line {
    display: inline-block;
    width: calc(100% - 186px);
    border: 1px solid var(--o-border);
}

.about--logoipsums {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(100% - (197.6px * 6));
}

.about--logoipsums svg {
    fill: var(--pri-text);
}


/* work  */


#work {
    background-color: var(--gree-try);
}

.work--wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#work .about--small__title {
    margin-left: 96px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: 2px;
}

.work--main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work--works {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-left: 96px;
    max-width: 608px;
}

.work--about__title {
    margin-bottom: 16px;
    color: var(--pri-text);
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-decoration-skip-ink: none;
}

.work--about--text {
    color: var(--sec-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
}

.work--list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 32px;
    border-left: 1px solid var(--o-border);
}

.work--item {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.work--item__main {
    max-width: 384px;
}

.work--item__title {
    margin-bottom: 8px;
    color: var(--pri-text);
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
}

.work--item__text {
    color: var(--sec-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
}

.work--image {
    max-width: 480px;
}

.work--image img {
    width: 100%;
}



/* project */



#project {
    background-color: var(--bg-white);
}

.project--wrapper {
    display: flex;
    flex-direction: column;
    gap: 65px;
}

.project--main {
    max-width: 640px;
    margin-left: 96px;
}

.project--main__title {
    margin-top: 32px;
    color: var(--pri-text);
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
}

.project--cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.project--card {
    position: relative;
    max-width: 411px;
    padding: 80px 48px 48px;
    border-radius: 12px;
    background: url("../images/Home/project--c_bg-1.png") no-repeat;
    background-size: cover;
    border-radius: 12px;
    color: var(--bg-white);
}

.project--card:nth-child(2) {
    background-image: url("../images/Home/project--c_bg-2.png");
}

.project--card:nth-child(3) {
    background-image: url("../images/Home/project--c_bg-3.png");
}

.project--card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: 0.5s;
    border-radius: 12px;
}

.project--card:hover::before {
    background-color: rgba(0, 0, 0, 0.8);
}

.project--card * {
    position: relative;
    z-index: 2;
}

.project--card__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
}

.project--card__text {
    margin: 16px 0 64px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
}

.project--card__link {
    display: inline-block;
    padding: 16px 32px;
    background-color: var(--bg-white);
    backdrop-filter: blur(80px);
    border-radius: 4px;
    color: var(--pri-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
}



/* chart */



#chart {
    background-color: var(--black-06);
    color: var(--bg-white);
}

.chart--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chart--main {
    max-width: 611px;
}

.chart--title {
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
}

.chart--text {
    margin: 16px 0 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    opacity: 0.6;
}

.chart--statuses {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.chart--status {
    width: auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
}

.chart--status::before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: var(--gree-sec);
    border-radius: 4px;
    margin-right: 8px;
}

.chart--status:nth-of-type(2)::before {
    background-color: #ac94f1;
}

.chart--status:nth-of-type(3)::before {
    background-color: #fff0ca;
}

.chart--status:nth-of-type(4)::before {
    background-color: #f9cf64;
}

.chart--status:nth-of-type(5)::before {
    background-color: #f38fbf;
}

.chart--circles {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 375px;
    background: conic-gradient(var(--gree-sec) 0% 40%,
            #ac94f1 40% 75%,
            #fff0ca 75% 85%,
            #f9cf64 85% 95%,
            #f38fbf 95% 100%);
    border-radius: 50%;
}

.chart--image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: calc(100% /2);
    height: calc(100% /2);
    background-color: var(--black-06);
}

.chart--image svg {
    fill: var(--bg-white);
}


/* donate */


#donate {
    background-color: var(--bg-white);
}

.donate--card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 93px 0;
    background: url("../images/Home/donate--bg.png") no-repeat;
    background-size: cover;
    color: var(--bg-white);
    border-radius: 12px;
}

.donate--card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    z-index: 1;
}

.donate--card__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    max-width: 632px;
    z-index: 2;
}

.donate--title {
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: center;
}

.donate--links {
    display: flex;
    align-items: center;
    gap: 32px;
}

.donate--link {
    backdrop-filter: blur(80px);
    border-radius: 4px;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
}

.donate--premery__link {
    background-color: var(--gree-pri);
}

.donte--secondary__link {
    background-color: var(--bg-white);
}


/* news */


#news {
    background-color: var(--bg-white);
}

.news-wrapper {
    width: 100%;
}

.news--top {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 48px;
}

.news--title {
    color: var(--pri-text);
    font-size: 40px;
    font-weight: 500;
    line-height: 56px;
}

.news--line {
    width: calc(100% - 299px);
    border: 1px solid var(--o-border)
}

.news--cards {
    display: flex;
    align-items: center;
    gap: 24px;
}

.news--card {
    display: flex;
    flex-direction: column;
}

.news--card__title {
    margin: 16px 0 8px;
    color: var(--pri-text);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.news--card__text {
    color: var(--sec-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
}


