* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    background-color: var(--gree-pri);
}


:root {
    --pri-text: #1d2130;
    --sec-text: #525560;
    --black-06: #0b0706;
    --gree-pri: #70c174;
    --o-border: #e5e5e5;
    --bg-grass: #f2f6ef;
    --gree-sec: #bef3c0;
    --gree-try: #eff7f2;
    --of-white: #ebf0f9;
    --bg-white: #fff;
    --bg-23253: #232536;
    --bg-opcty: #ebf0f94d;
}

.container {
    /* 1280 + 40 = 1320 */
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

a:hover {
    text-decoration: underline;
    transform: scale(1.2);
}

section {
    padding: 96px 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--bg-white);
    padding: 8px 0;
    z-index: 111;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site--brand svg {
    fill: var(--pri-text);
}

/* humburger */

.humburger {
    display: none;
    flex-direction: column;
    gap: 7px;
    width: 40px;
}

.humburger span {
    width: 100%;
    height: 8px;
    background-color: var(--black-06);
    border-radius: 5px;
}

.nav--bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 687px;
    gap: 20px;
}

.nav--bar {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 20px;
}

.nav--item__link {
    color: var(--sec-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    padding: 16px 0;
    border: 1px solid transparent;
    text-decoration: none !important;
    transition: 0.8s;
}

.nav--item__link:hover {
    color: var(--black-06);
    border-top: 2px solid var(--gree-pri);
    border-bottom: 2px solid var(--gree-pri);
}

.nav--link {
    padding: 12px 32px;
    background-color: var(--pri-text);
    border-radius: 4px;
    color: var(--bg-white);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    transition: 0.5s;
}

.nav--link:hover {
    background-color: var(--gree-pri);
    color: var(--bg-white);
    transform: scale(1.2);
}


/* footer */

footer {
    background-color: var(--black-06);
}

.footer--wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 96px 0;
}

.footer-logo svg {
    fill: var(--bg-white);
}

.footer--menus {
    display: flex;
    justify-content: space-between;
    width: 336px;
}

.footer--menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer--item {
    opacity: 0.78;
}

.footer--bold__item {
    opacity: 1;
}

.footer--item__link {
    color: var(--bg-white);
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
}

.footer--form {
    max-width: 544px;
}

.footer--title {
    margin-bottom: 32px;
    color: var(--bg-white);
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
}

.footer--input__box {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    border: 1px solid #ebf0f94d;
}

.footer--input {
    width: 65%;
    padding: 23px 0 23px 24px;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--bg-white);
    font-size: 17px;
    font-weight: 400;
    line-height: 18.75px;
    transition: 2s ease;
}

.footer--input:focus {
    box-shadow: inset 700px 0 5px var(--pri-text);
}

.footer--input ::placeholder {
    color: var(--bg-opcty);
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    opacity: 0.8;
}

.footer--button {
    width: 35%;
    padding: 22.5px 32px;
    background-color: var(--bg-white);
    color: var(--pri-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    transition: 1s;
    border: none;
}

.footer--button:hover {
    box-shadow: inset 200px 0 5px var(--gree-pri);
    color: var(--bg-grass);
}


/* donate */


#donate {
    background-color: var(--bg-white);
}

.donate--card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 93px 30px;
    background: url("../images/Home/donate--bg.png") no-repeat;
    background-size: cover;
    color: var(--bg-white);
    border-radius: 12px;
}

.donate--card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    z-index: 1;
}

.donate--card__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    max-width: 632px;
    z-index: 2;
}

.donate--title {
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: center;
}

.donate--links {
    display: flex;
    align-items: center;
    gap: 32px;
}

.donate--link {
    backdrop-filter: blur(80px);
    border-radius: 4px;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
}

.donate--premery__link {
    background-color: var(--gree-pri);
}

.donte--secondary__link {
    background-color: var(--bg-white);
    color: var(--pri-text);
}


/* news */


#news {
    background-color: var(--bg-white);
}

.news-wrapper {
    width: 100%;
}

.news--top {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 48px;
}

.news--title {
    color: var(--pri-text);
    font-size: 40px;
    font-weight: 500;
    line-height: 56px;
}

.news--line {
    width: calc(100% - 299px);
    border: 1px solid var(--o-border)
}

.news--cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.news--card {
    display: flex;
    flex-direction: column;
    max-width: 302px;
}

.new--image {
    width: 100%;
}

.new--image img {
    width: 100%;
}

.news--card__title {
    margin: 16px 0 8px;
    color: var(--pri-text);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.news--card__text {
    color: var(--sec-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
}


/* events */


#events {
    background-color: var(--bg-white);
}

.event--cards {
    display: flex;
    gap: 24px;
}

.event--card {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 32px 40px;
    background-color: var(--gree-sec);
    max-width: 628px;
    border-radius: 8px;
}

.event--date {
    margin-bottom: 50px;
    color: var(--pri-text);
}

.event--day {
    display: block;
    font-size: 48px;
    font-weight: 500;
    line-height: 57.6px;
}

.event--month {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    letter-spacing: 2px;
}

.event--plans {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--pri-text);
    max-width: 381px;
}

.next--event {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    letter-spacing: 2px;
}

.next--event::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 44px;
    margin-left: 23px;
    border: 2px solid var(--pri-text);
}

.next--event__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
}

.event--link {
    padding: 19px;
    border-radius: 50%;
    background-color: var(--bg-white);
}

.event--link svg {
    transition: 0.5s;
}

.event--link:hover svg {
    transform: translateX(5px);
}

.small__title {
    position: relative;
    display: inline-block;
    color: var(--pri-text);
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.small__title::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -96px;
    display: inline-block;
    width: 72px;
    height: 0;
    border: 2px solid var(--pri-text);

}


.project--cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.project--card {
    position: relative;
    max-width: 411px;
    padding: 80px 48px 48px;
    border-radius: 12px;
    background: url("../images/Home/project--c_bg-1.png") no-repeat;
    background-size: cover;
    border-radius: 12px;
    color: var(--bg-white);
}

.project--card:nth-child(2) {
    background-image: url("../images/Home/project--c_bg-2.png");
}

.project--card:nth-child(3) {
    background-image: url("../images/Home/project--c_bg-3.png");
}

.project--card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: 0.5s;
    border-radius: 12px;
}

.project--card:hover::before {
    background-color: rgba(0, 0, 0, 0.8);
}

.project--card * {
    position: relative;
    z-index: 2;
}

.project--card__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
}

.project--card__text {
    margin: 16px 0 64px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
}

.project--card__link {
    display: inline-block;
    padding: 16px 32px;
    background-color: var(--bg-white);
    backdrop-filter: blur(80px);
    border-radius: 4px;
    color: var(--pri-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
}


/* support  */

.about--bottom {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.about--supporters {
    display: flex;
    gap: 24px;
    align-items: center;
    width: 100%;
}

.about--sup__text {
    color: var(--pri-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    letter-spacing: 2px;
}

.about--sup__line {
    display: inline-block;
    width: calc(100% - 186px);
    border: 1px solid var(--o-border);
}

.about--logoipsums {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(100% - (197.6px * 6));
}

.about--logoipsums svg {
    fill: var(--pri-text);
}

/* team link */

.team--links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.team--links svg {
    opacity: 0.8;
    fill: var(--pri-text);
    transition: 0.5s;
}

.team--links svg:hover {
    opacity: 1;
}

/* button */

.about--link {
    display: inline-block;
    border-radius: 4px;
    padding: 16px 32px;
    background-color: var(--gree-pri);
    color: var(--bg-white);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    transition: 0.5s;
    border: 1px solid transparent;
}

.about--link:hover {
    color: var(--pri-text);
    background-color: var(--bg-white);
    border: 1px solid var(--black-06);
}

/* loading  */

#loading {
    position: fixed;
    transform: rotate(90deg);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--o-border) !important;
    z-index: 11111111;
}

.cubes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
}

.loop {
    transform: rotateX(-35deg) rotateY(-45deg) translateZ(1.5625em);
}

@keyframes s {
    to {
        transform: scale3d(0.2, 0.2, 0.2);
    }
}

.item {
    margin: -1.5625em;
    width: 3.125em;
    height: 3.125em;
    transform-origin: 50% 50% -1.5625em;
    box-shadow: 0 0 0.125em currentColor;
    background: currentColor;
    animation: s 0.6s cubic-bezier(0.45, 0.03, 0.51, 0.95) infinite alternate;
}

.item:before,
.item:after {
    position: absolute;
    width: inherit;
    height: inherit;
    transform-origin: 0 100%;
    box-shadow: inherit;
    background: currentColor;
    content: "";
}

.item:before {
    bottom: 100%;
    transform: rotateX(90deg);
}

.item:after {
    left: 100%;
    transform: rotateY(90deg);
}

.item:nth-child(1) {
    margin-top: 6.25em;
    color: #fe1e52;
    animation-delay: -1.2s;
}

.item:nth-child(1):before {
    color: #ff6488;
}

.item:nth-child(1):after {
    color: #ff416d;
}

.item:nth-child(2) {
    margin-top: 3.125em;
    color: #fe4252;
    animation-delay: -1s;
}

.item:nth-child(2):before {
    color: #ff8892;
}

.item:nth-child(2):after {
    color: #ff6572;
}

.item:nth-child(3) {
    margin-top: 0em;
    color: #fe6553;
    animation-delay: -0.8s;
}

.item:nth-child(3):before {
    color: #ffa499;
}

.item:nth-child(3):after {
    color: #ff8476;
}

.item:nth-child(4) {
    margin-top: -3.125em;
    color: #fe8953;
    animation-delay: -0.6s;
}

.item:nth-child(4):before {
    color: #ffb999;
}

.item:nth-child(4):after {
    color: #ffa176;
}

.item:nth-child(5) {
    margin-top: -6.25em;
    color: #feac54;
    animation-delay: -0.4s;
}

.item:nth-child(5):before {
    color: #ffce9a;
}

.item:nth-child(5):after {
    color: #ffbd77;
}

.item:nth-child(6) {
    margin-top: -9.375em;
    color: #fed054;
    animation-delay: -0.2s;
}

.item:nth-child(6):before {
    color: #ffe49a;
}

.item:nth-child(6):after {
    color: #ffda77;
}

.loading-none {
    display: none;
}

/* backtop */

.bactop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 11;
    padding: 15px;
    background-color: transparent;
    border-radius: 5px;
    border: 5px solid var(--gree-pri);
    /* transition: box-shadow 0.5; */
}

.bactop:hover {
    box-shadow: inset 0 37.5px 5px red,
        inset 0 -37.5px 5px red,
        inset 37.5px 0 5px red,
        inset -37.5px 0 5px red;
}


.bactop svg {
    fill: var(--sec-text);
    filter: drop-shadow(0 0 20px blue);
}

/* media */

@media (max-width:1150px) {
    .event--cards {
        flex-direction: column;
        align-items: center;
    }


}

@media (max-width:1095px) {
    .footer--wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
}


@media (max-width:830px) {
    nav {
        flex-direction: column;
        gap: 15px;
    }

    .humburger {
        display: flex;
    }

    .nav--brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 20px;
    }

    .nav--bottom {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .activeh {
        display: flex;
    }

    .nav--bar {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width:490px) {
    .donate--links {
        flex-direction: column;

    }

    .event--card {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .event--date {
        margin: 0;
    }
}

@media (max-width:390px) {
    .donate--title {
        font-size: 38px;
        line-height: 47.6px;
    }
    
    .news--title {
            font-size: 30px;
    line-height: 56px;
    }

}